.tooltip-inner {
    background-color: #222;
    color: #fff;
  }
  .tooltip.top .tooltip-arrow {
    border-top-color: #222;
  }
  .navbar-brand .big-letter {
    font-size: 36px;
    color: green;
    font-weight: bold;
  }
  .bi-house:hover path {
    fill: green;
  }
 
  .dropdown-item:hover {
      color: white;
      background-color: green;
  }
  .nav-item .dropdown{
    color: white;
      background-color: green;
  }
  
  /* Coursoul */

/* .carousel-item img{
  min-width: 100%;
  max-height: 500px;
}
.carousel-caption {
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 60px;
} */
  /** TIPS: 
1. The carousel shouldn't be in any other div, like for example div with class container. 
2. You can align image position in classes bg1, bg2, bg3 using css background-position.
*/

/* Carousel 100% Fullscreen */

  
.card-title {
  color: #db0075;
}
.card-text {
  color: #17E6E6;
}
.list-inline-item {
  color: #ffd700
}
.price {
  color: #9B1B30;
}
.btn-pink {
  background-color: #fcb2b2 !important;
}
  
  
  
  
  
 
  
 
  
  
  
  
  
  
  
  
  
  
  
  /* ignore the code below */
  
  
  .link-area
  {
    position:fixed;
    bottom:20px;
    left:20px;  
    padding:15px;
    border-radius:40px;
    background:tomato;
  }
  .link-area a
  {
    text-decoration:none;
    color:#fff;
    font-size:25px;
  }
  
    
     