@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
}

/* .nav{
    background-color: green;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav li{
    display: inline-block;
    
    color: white;
    font-size: 20px;
    padding: 20px;
}
li:hover{
    color: yellow;
}
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
  .topnav{
    position: fixed;
  }
} */

header {
  display: flex;
  align-items: center;
  padding-left:2px;
  padding-right: 10px;
  background-color: #203d27;
  width: 100%;
  height: 80px;
  position:fixed;
  z-index: 10;
 

}

/* header .logo-small {
  display: none;
 
} */

form{
  display: flex;
  margin-right: 150px;
  border-radius: 6px;
}
form.example input[type=text] {
  padding: 5px;
  font-size: 17px;
  border: 1px solid grey;
  /* float: left; */
  width: 350px;
  height: 25px;
  background: #f1f1f1;
  border-radius: 14px;
  margin-right: 4px;
}

form.example button {
  float: left;
  width: 17%;
  padding: 5px;
  background: #000000;
  color: white;
  font-size: 17px;
  /* border: 1px solid rgb(44, 7, 7); */
  /* border-left: none; */
  cursor: pointer;
  border-radius: 14px;
  font-weight: bold;
  
}

form.example button:hover {
  background: #c89900;
}


header .logo-big {
  flex-grow: 1;
}


.topnav {
  display: inline block;
  padding-right: 0px;
}

/* nav li:last-child {
  padding-right: 10;
} */

/* @media only screen and (max-width: 990px) {
  header .logo-big {
    display: none;
  } */

  header .logo-small {
    display: block;
  }


.topnav a {
background-color: rgb(255, 255, 255);
padding: 2px;
text-decoration: none;
color: rgb(0, 0, 0);
border-radius: 5px;
font-weight: bold;
margin-top: 5px;

}

.topnav  a:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(189, 198, 163);
}
@media only screen and (max-width: 540px) {
  header {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  header .logo-small {
    margin-bottom: 1rem;
  }
}

header .logo-big img{
width: 50px;
height: 50px;
padding-left: 9px;

}

 .ligi-text{
  float :right;
  font-size: 38px;
  font-family: 'Dancing Script', cursive;
  display: block;
  padding-right: 250px;
  color: #00e800;
}

header .logo-big  span{
 /* Footer */
  padding-bottom: 50px;
}    
 main {
  position: relative;
  height: 38rem;
  padding: 7.8125rem 30% 0 30%;
  background: url("/Resources/Images/jan-kopriva-OHo8ST9kugw-unsplash.jpg" )  center center no-repeat ;
  background-size: cover;
  text-align: center;
  font-size: 1.125rem;
  /* line-height: 1.4; */
  color: white;
  box-sizing: border-box;


}



main:before { /* Overlay */
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

main * {
  position: relative; /* Makes elements display above overlay. */
}

main strong {
  display: block;
  margin-bottom: 1.25rem;
  font-size: 2.25rem;
  color: #ff8000;
}

main p {
  margin-bottom: 4.3125rem;
}

main .button {
  padding: 1.25rem 3.75rem;
  border-radius: 4px;
  background-color: #ff8000;
  text-decoration: none;
  font-weight: bold;
}

@media only screen and (max-width: 560px) {
  main {
    padding: 4.8125rem 15% 0 15%;
  }
} 

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}


.footer-distributed{
	background:#203d27;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 20px 20px;
  border-radius: 20px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}}

  #slideshow {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  #slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    z-index: 1;
  }

  #slideshow img.active {
    opacity: 1;
    z-index: 2;
  }

  #slideshow img.inactive {
    opacity: 1;
  }
  
  
  
  
  